AddDefaultCharset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml
Options -Indexes

<IfModule mod_dir.c>
    DirectoryIndex index.php
</IfModule>

<FilesMatch "(^\.|\.ini|\.default)">
    Order allow,deny
    Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    Options +FollowSymlinks
    RewriteBase /

    RewriteCond %{HTTP_HOST} 178.21.11.206
    RewriteRule ^(.*)$ https://adverts.ru/ [QSD,L,R=301]

    #RewriteCond %{HTTP_HOST} !^adverts.ru [NC]
    #RewriteRule ^(.*)$ https://adverts.ru%{REQUEST_URI} [L,R=301,QSD]

    #RewriteCond %{HTTPS} off
    #RewriteCond %{HTTP:X-Forwarded-Proto} !https
    #RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	RewriteCond %{HTTP_HOST} ^www\.(.*)$
	RewriteRule ^(.*)$ https://%1/$1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
