.datatable td:nth-child(3),
.datatable td:nth-child(4) {
    text-align: center;
}

.datatable td:nth-child(3),
.datatable td:nth-child(4),
.datatable td:nth-child(7),
.datatable td:nth-child(8) {
    width: 5%;
}

.datatable td[data-content-yes-no="0"] {
    font-weight: bold;
    color:#cc0000 !important;
}