.content .two_column {
    font-size: var(--font-size-14);
}
.content .two_column .left_column,
.content .two_column .right_column {
	align-self: center;
}
.content .two_column .left_column {
    text-align:justify;
}
.content .two_column .right_column {
	align-self: center;
	border-left: 1px solid #CCC;
}
@media screen and (max-width: 780px) {
    .content .two_column .right_column {
        border-left:none;
    }
}
.content .two_column .left_column .left_column_content,
.content .two_column .right_column .right_column_content {
    padding:10px 20px;
}